<div class="modal-content" style="padding: 24px 0px 24px 0px">
    <div class="row">
        <div class="col s12">
            <h3 class="center green-text">ĐĂNG KÝ THÀNH CÔNG!</h3>
        </div>
        <div class="col s12">
            <h5 class="blue-text">CHÀO MỪNG BẠN THAM GIA VỚI CHÚNG TÔI!</h5>
            <p class="black-text left-align">
                Yêu cầu đăng ký tài khoản chủ sân bóng của bạn đã được chúng tôi ghi nhận <br />
                Chúng tôi sẽ liên hệ lại với bạn trong khoảng thời gian sớm nhất<br />
            </p>
        </div>
    </div>
</div>
