
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <div class="row" style="background-image: url(/Assets/Images/image/hinhden.jpg); min-height: 550px; margin-bottom: 1px;">
            <div class="col s12">
                <div>
                    <h4 class="orange-text text-lighten-2 text-center">VÌ SAO NÊN ĐĂNG KÝ QUẢN LÝ SÂN BÓNG VỚI SON SPORT?</h4>
                    <div class="row">
                        <div class="col s12 m4 new-business-info">
                            <h1 class="center orange-text"><i class="fa fa-bolt"></i></h1>
                            <h4 class="center white-text">Quản lý hiệu quả</h4>
                            <p class="center grey-text text-lighten-2">Giải pháp quản lý sân đơn giản, dễ dàng mọi lúc mọi nơi trên mọi thiết bị.</p>
                        </div>
                        <div class="col s12 m4 new-business-info">
                            <h1 class="center orange-text"><i class="fa fa-line-chart"></i></h1>
                            <h4 class="center white-text">Tăng trưởng doanh thu</h4>
                            <p class="center grey-text text-lighten-2">Doanh thu tăng từ <strong>10%</strong> trở lên! Cắt giảm chi phí, thời gian quản lý.</p>
                        </div>
                        <div class="col s12 m4 new-business-info">
                            <h1 class="center orange-text"><i class="fa fa-bullhorn"></i></h1>
                            <h4 class="center white-text">Quảng bá hiệu quả</h4>
                            <p class="center grey-text text-lighten-2">Trang thông tin sân bóng riêng biệt với hàng ngàn người truy cập hằng ngày!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 new-business-info">
                            <h1 class="center orange-text"><i class="fa fa-cogs"></i></h1>
                            <h4 class="center white-text">Dễ dàng sử dụng</h4>
                            <p class="center grey-text text-lighten-2">Giao diện thân thiện, dễ dàng làm quen sử dụng.</p>
                        </div>
                        <div class="col s12 m4 new-business-info">
                            <h1 class="center orange-text"><i class="fa fa-thumbs-up"></i></h1>
                            <h4 class="center white-text">An toàn tin cậy</h4>
                            <p class="center grey-text text-lighten-2">Đảm bảo hoạt động kinh doanh của bạn được thuận lợi là ưu tiên hàng đầu của chúng tôi</p>
                        </div>
                        <div class="col s12 m4 new-business-info">
                            <h1 class="center orange-text"><i class="fa fa-question-circle"></i></h1>
                            <h4 class="center white-text">Hỗ trợ 24/7</h4>
                            <p class="center grey-text text-lighten-2">Luôn luôn sẵn sàng hỗ trợ bạn bất cứ lúc nào ở đâu</p>
                        </div>
                    </div>
                </div>
                <h4 class="orange-text text-darken-2 text-center">Đăng ký quản lý sân bóng với Son Sport trong 3 bước</h4>
                <div class="row">
                    <div class="col s12 m4 new-business-info">
                        <h1 class="center orange-text"><i class="fa fa-pencil-square-o"></i></h1>
                        <h4 class="center white-text">Bước 1</h4>
                        <p class="center grey-text text-lighten-2">Điền thông tin đầy đủ và chính xác</p>
                    </div>
                    <div class="col s12 m4 new-business-info">
                        <h1 class="center orange-text"><i class="fa fa-phone-square"></i></h1>
                        <h4 class="center white-text">Bước 2</h4>
                        <p class="center grey-text text-lighten-2">Son Sport liên hệ và xác nhận thông tin.</p>
                    </div>
                    <div class="col s12 m4 new-business-info">
                        <h1 class="center orange-text"><i class="fa fa-handshake-o"></i></h1>
                        <h4 class="center white-text">Bước 3</h4>
                        <p class="center grey-text text-lighten-2">Vào cổng quản lý và bắt đầu quản lý sân bóng với Son Sport!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <div style="border: 2px solid #3D3789; margin-top: 40px; border-radius: 5px;">
                    <h5 class="text-center">Tính năng</h5>
                    <ul style="line-height: 30px;" class="col offset-l2 offset-s1 offset-m2">
                        <li><i class="fa fa-check-circle"></i>  Nhận lịch đặt sân online</li>
                        <li><i class="fa fa-check-circle"></i>  Quản lý lịch đặt sân</li>
                        <li><i class="fa fa-check-circle"></i>  Tùy chỉnh giá theo ngày giờ</li>
                        <li><i class="fa fa-check-circle"></i>  Hỗ trợ tìm kiếm với người chơi mới</li>
                        <li><i class="fa fa-check-circle"></i>  Kết nối với khách hàng thân thiết</li>
                        <li><i class="fa fa-check-circle"></i> Thống kê, báo cáo doanh thu</li>
                        <li><i class="fa fa-check-circle"></i>  Miễn phí sử dụng</li>
                    </ul>
                    <p class="center">
                        <a onclick="ShowModalRegister()" style="height: 50px; line-height: 50px; font-size: 1.2rem" class="waves-effect waves-light btn orange black-text modal-trigger" href="#business-register" id="business-new-modal-event" data-event="{:user_id=>nil, :venue=>nil}">
                            ĐĂNG KÝ NGAY
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-90 row">
            <div class="col s12 m6">
                <h4>Câu hỏi thường gặp</h4>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">1. Phầm mềm quản lý Son Sport hỗ trợ gì cho chủ sân?</div>
                        <div class="collapsible-body">
                            <span>
                                Phần mềm quản lý sân bóng của Son Sport hỗ trợ chủ sân quản lý lịch đặt sân hiệu quả và chuyên nghiệp hơn. Ở đó chủ sân có thể biết được một ngày sân có bao nhiêu lịch, lịch đặt ở sân nào, giờ nào? Giờ nào còn sân trống một cách nhanh chóng, dễ dàng.<br>
                                <br>
                                Dù chủ sân ở đâu và làm gì cũng có thể xem tình trạng hoạt động của sân bóng ngay lập tức. Từ đây chủ sân không còn phải lo lắng về việc quên lịch, nhầm đội hay sai giờ nữa.<br>
                                <br>
                                Ngoài ra, bạn chỉ cần xác nhận lịch đặt, không còn phải bận bịu trả lời điện thoại giờ này có sân trống không nữa hay đau đầu với hàng tá giấy tờ rắc rối.
                            </span>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header">2. Son Sport sẽ giúp tôi tăng doanh thu thế nào?</div>
                        <div class="collapsible-body">
                            Son Sport hỗ trợ sân bóng của bạn quảng bá tới người chơi, giúp người chơi có thể xem được giờ nào có sân trống của sân của bạn nên đặt sân online dễ hơn và nhanh hơn.
                            <br>
                            <br>
                            Mặt khác chúng tôi còn phí bạn giảm chi phí và thời gian quản lý sân bóng một cách thủ công, giấy bút như trước giờ.
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">3. Thông tin sân bóng của tôi được hiển thị ở đâu? Nó có được bảo vệ hay không?</div>
                        <div class="collapsible-body">
                            <span>
                                Sân bóng của bạn sau khi đăng ký hợp tác với Son Sport sẽ được sở hữu một link riêng. Mọi thông tin sân bóng cũng như giờ còn sân trống sẽ được hiện thị ở đó.<br>
                                <br>
                                Đường dẫn này bạn có thể cài đặt ở phần quản lý của chủ sân. Ví dụ đường dẫn này có thể là “https://www.sonsport.vn/tensancuaban”. Son Sport cam kết thông tin sân bóng của bạn được bảo vệ và hiện thị chính xác.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">4. Chức năng đặt sân online hoạt động ra sao?</div>
                        <div class="collapsible-body">
                            Người chơi sẽ tìm kiếm sân trống trên Son Sport và tiến hành đặt sân thanh toán với chúng tôi hoặc thanh toán tại sân. Thông tin người đặt sẽ được thông báo và hiển thị trên trình quản lý của bạn. <br>
                            <br>
                            Son Sport sẽ thu 10% phí hoa hồng trên mỗi giao dịch thành công
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <h4>Trải nghiệm thử</h4>
                Truy cập <a href="https://localhost:44313/" target="_blank">https://quanly.sonsport.com</a> và dùng tài khoản demo của Son Sport ( email: demo@sonsport.vn, password: 123123) để được trải nghiệm trước.
            </div>
        </div>
        <div id="business-register" class="modal" style="max-height: 80%; z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);" tabindex="0">

        </div>
    </main>
@section scripts{
    <script>
    function ShowModalRegister() {
        $.get('@Url.Action("LoadFormRegister","ForMasterYard")', function (response) {
            $('#business-register').empty().html(response);
        });
    }
    </script>
    }