
@{
    ViewBag.Title = "BookingOfCustomer";
    Layout = "~/Views/CustomerManager/LayoutCustomerManager.cshtml";
}

<div class="col s12 m10">
    <div class="user-page-content">
        <h5 class="ticket-title">Lịch đặt của bạn</h5>
        <p>Bạn chưa có lịch đặt nào. Hãy nhanh tay đặt ngay hôm nay. <a href="/">Bắt đầu bằng việc tìm sân trống</a></p>
    </div>
</div>
