
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/CustomerManager/LayoutCustomerManager.cshtml";
}

    <div class="col s12 m10">
        <div class="user-page-content">
            <h5 class="ticket-title">Đổi mật khẩu</h5>
            Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác.
            <section>
                <div class="profile-update">
                    <form autocomplete="off" class="edit_user" id="edit_user_7664" action="/user/update_password" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="4iJK+khU/xoM5tjyJekJydPHz1f80xuNIxtLLXIbUrQIbymEuICn/G+cZHoIWCNhjhHH8uWd4wZuXmjBAJ79KQ==" />
                        <div class="field center">
                            <label for="M_t_kh_u_c_">Mật khẩu cũ</label><br />
                            <input type="password" name="old_password" id="old_password" value="" style="max-width: 300px;" />
                        </div>
                        <div class="field center">
                            <label for="user_password">Mật khẩu mới</label><br />
                            <input style="max-width: 300px;" type="password" name="user[password]" id="user_password" />
                        </div>
                        <div class="field center">
                            <label for="user_password_confirmation">Xác nhận mật khẩu mới</label><br />
                            <input style="max-width: 300px;" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
                        </div>
                        <div class="action_container center">
                            <input type="submit" name="commit" value="Xác nhận" class="btn" data-disable-with="Xác nhận" />
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>