
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/CustomerManager/LayoutCustomerManager.cshtml";
}

<div class="col s12 m10">
    <div class="user-page-content">
        <h5 class="ticket-title">Thông báo</h5>
        Bạn có tất cả (<span style="font-size: 16px; color: orange !important;">0</span>) thông báo chưa đọc.
        <section>
            <div class="profile-update">
                <h5>Bạn không có thông báo mới.</h5>
            </div>
        </section>
    </div>
</div>