
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/CustomerManager/LayoutCustomerManager.cshtml";
}

<div class="col s12 m10">
    <div class="user-page-content">
        <h5 class="ticket-title">Thông tin cá nhân</h5>
        Điền thông tin hồ sơ để sporta phục vụ bạn tốt hơn.
        <section>
            <div class="profile-update">
                <div class="row">
                    <div class="col s12 m2">
                        <header class="profile-picture" id="profile-avatar">
                            @Html.Partial("_AvatarUpload")
                        </header>
                    </div>
                    <div class="col s12 m10">
                        <div class="profile-form" id="profile-form">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", registerEvent());
    function registerEvent() {
        LoadFormProfile();
    };

    async function LoadFormProfile() {
          var result = await $.get('@Url.Action("LoadFormProfile","CustomerManager")');
            $('#profile-form').empty().html(result);
    }
</script>