@using Model.Context
@model List<DIADIEMSANBONG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Assets/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<main>
    <div id="find_available_asset" style="height: 450px;">
        <div class="find_available_asset_form_is_center">
            <h4 class="center white-text">Tìm kiếm thông tin và đặt sân online</h4>
            <h5 class="center white-text">Với hàng ngàn địa điểm trên toàn quốc</h5>
            @using (Ajax.BeginForm("SearchByKeyword", "Search", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "list_place_search" }))
            {
                <div class="venue_search_form row">
                    <div class="col s12 m8 l6 offset-l3 offset-m2 input-field">
                        <input type="text" name="keyword" id="keyword" class="white-text" placeholder="Tìm sân: tên, địa chỉ" />
                        <button type="submit" id="search_btn"><i class='fa fa-search'></i></button>
                    </div>
                    <div class="center col s12 hide-on-med-and-up" style="margin-top: 10px;">
                        <button class="btn" id="nearby_search">Gần đây</button>
                    </div>
                </div>
            }
            <div class="hide-on-small-only center" style="margin-top: 10px;">
                <button class="btn" id="nearby_search" disabled>
                    <i class="fa fa-location-arrow" style="font-size: 1.2rem;"></i> Gần đây (Updating...)
                </button>
            </div>

        </div>
        <img class="brightness" src='~/Assets/Images/image/search_banner.jpg' alt="Sporta đặt sân bóng đá mini online">
    </div>
    <div>
        <div>
            <div class="container-90">
                <div class="row" id="list_place_search">
                    @Html.Partial("_ListPlace",Model)
                </div>
            </div>
        </div>
    </div>

</main>
