
@{
    ViewBag.Title = "SearchYardEmpty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="row section">
        <div class="col s12 m4 l3">
            <form class="find_available_asset_form" action="/dat-san-online">
                <div class="row">
                    <div class="col s6 l6">
                        <label>Thành phố/Tỉnh</label>
                        <select name="city" id="city" required="required" class="browser-default">
                            <option value="47">Tỉnh Bình Dương</option>
                            <option value="48">Tỉnh Đồng Nai</option>
                            <option value="51">Tỉnh Long An</option>
                            <option value="27">Tỉnh Nghệ An</option>
                            <option value="25">Tỉnh Ninh Bình</option>
                            <option value="33">Tỉnh Quảng Nam</option>
                            <option value="34">Tỉnh Quảng Ngãi</option>
                            <option value="46">Tỉnh Tây Ninh</option>
                            <option value="12">Tỉnh Thái Nguyên</option>
                            <option value="26">Tỉnh Thanh Hóa</option>
                            <option value="32">Tp Đà Nẵng</option>
                            <option value="1">Tp Hà Nội</option>
                            <option selected="selected" value="50">Tp Hồ Chí Minh</option>
                        </select>
                    </div>
                    <div class="col s6 l6">
                        <label>Quận/Huyện</label>
                        <select name="district_id" id="district_id" required="required" class="browser-default">
                            <option value="573">Huyện Bình Chánh</option>
                            <option value="575">Huyện Cần Giờ</option>
                            <option value="571">Huyện Củ Chi</option>
                            <option value="572">Huyện Hóc Môn</option>
                            <option value="574">Huyện Nhà Bè</option>
                            <option value="552">Quận 1</option>
                            <option value="563">Quận 10</option>
                            <option value="564">Quận 11</option>
                            <option value="553">Quận 12</option>
                            <option value="561">Quận 2</option>
                            <option value="562">Quận 3</option>
                            <option value="565">Quận 4</option>
                            <option value="566">Quận 5</option>
                            <option value="567">Quận 6</option>
                            <option value="570">Quận 7</option>
                            <option value="568">Quận 8</option>
                            <option value="555">Quận 9</option>
                            <option value="569">Quận Bình Tân</option>
                            <option value="557">Quận Bình Thạnh</option>
                            <option value="556">Quận Gò Vấp</option>
                            <option value="560">Quận Phú Nhuận</option>
                            <option value="558">Quận Tân Bình</option>
                            <option value="559">Quận Tân Phú</option>
                            <option selected="selected" value="554">Quận Thủ Đức</option>
                        </select>
                    </div>
                    <div class="col s6">
                        <label>Loại sân</label>
                        <select name="asset_category_name" id="asset_category_name" class="browser-default">
                            <option selected="selected" value="5">Sân 5 người</option>
                            <option value="7">Sân 7 người</option>
                            <option value="11">Sân 11 người</option>
                        </select>
                    </div>
                    <div class="col s6">
                        <label>Ngày đặt</label>
                        <input type="text" name="date" id="booking_date" value="Chủ nhật, 26-05-2019" required="true" placeholder="Chọn ngày">
                    </div>
                    <div class="col s6 m6">
                        <label>Đặt từ</label>
                        <select name="begin_time" id="begin_time" class="browser-default">
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option selected="selected" value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                        </select>
                    </div>
                    <div class="col s6 m6">
                        <label>Đặt mấy giờ</label>
                        <select name="how_long" id="how_long" class="browser-default">
                            <option selected="selected" value="1">1</option>
                            <option value="1.5">1.5</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="col s12 center">
                        <button style="margin-top: 15px;" class="waves-effect waves-light btn btn-raised">Tìm sân trống</button>
                    </div>
                </div>
            </form>

            <div class="center">
                <div class="col s12 m12 l12" id="search_loader">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="available_venues_results" class="col s12 m8 l9">
            <div class="row">
                <h5>Chắc chắn có sân trống</h5>
                <ul class="collection">
                    <li class="collection-item available_venue-item row">
                        <div class="col s12 m8 l7">
                            <a href="/dhnonglam">
                                <h5>Sân bóng Đại học Nông Lâm</h5>
                            </a>
                            <span class="grey-text text-darken-2">Đại học Nông Lâm, khu phố 6, P. Linh Trung, Quận Thủ Đức, Tp Hồ Chí Minh</span>
                        </div>
                        <div class="col s12 m2 l4 price">
                            <span style="font-size: 35px;">180.000 VNĐ /  1h</span>
                        </div>
                        <div class="col s12 m2 l1 book-btn">
                            <a class="waves-effect waves-light btn btn-raised" href="/dat-san?asset_id=77&amp;begin_use_time=2019-05-26+16%3A00%3A00+%2B0700&amp;end_use_time=2019-05-26+17%3A00%3A00+%2B0700&amp;how_long=1&amp;price=180000&amp;venue=135">Đặt sân</a>
                        </div>
                    </li>
                </ul>
                <div class="right">

                </div>
            </div>
            <div class="row">
                <h5>
                    Có thể có sân trống
                </h5>
                <ul class="collection">
                    <li class="collection-item available_venue-item row">
                        <div class="col s12 m8 l7">
                            <a href="/dai-hoc-tdtt-hcm">
                                <h5>Sân bóng Đại học TDTT HCM</h5>
                            </a>
                            <span class="grey-text text-darken-2"><i class="fa fa-map-marker"></i> Linh Trung, Quận Thủ Đức, Tp Hồ Chí Minh</span><br>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col s12 m2 l1 book-btn">
                                <a class="waves-effect waves-light btn btn-raised" id="call-venues" data-event="84 - Sân bóng Đại học TDTT HCM" href="tel:0972944200"><i class='fa fa-phone'></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="col s12 m2 l1 book-btn">
                                <a class="waves-effect btn" href="https://www.sporta.vn/users/sign_in">
                                    Đăng nhập để gọi
                                </a>
                            </div>
                        }
                    </li>

                </ul>
                <div class="right">
                    <ul class="pagination">
                        <!--   -->

                        <li class="active orange darken-2">
                            <a href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1">1</a>
                        </li>

                        <li class="">
                            <a rel="next" href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1&amp;page=2">2</a>
                        </li>

                        <li class="">
                            <a href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1&amp;page=3">3</a>
                        </li>

                        <li class="">
                            <a href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1&amp;page=4">4</a>
                        </li>

                        <li class="">
                            <a href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1&amp;page=5">5</a>
                        </li>

                        <li class="waves-effect">
                            <a rel="next" href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1&amp;page=2"><i class="fa fa-chevron-right"></i></a>
                        </li>

                        <!-- <li class="waves-effect">
                          <a href="/dat-san-online?asset_category_name=5&amp;begin_time=16%3A00&amp;city=50&amp;date=Ch%E1%BB%A7+Nh%E1%BA%ADt%2C+26%2F05%2F2019&amp;district_id=554&amp;how_long=1&amp;page=5">Trang cuối</a>
                        </li>
                         -->
                    </ul>

                </div>
            </div>

        </div>
    </div>

</main>