<footer class="page-footer custom-footer">
    <div class="container">
        <div class="row" style="margin: -10px auto 0px auto">
            <div class="col s12">
                <h5 class="white-text text-darken-2" style="font-weight: bolder; font-size: 30px;">Sơn Sport</h5>
            </div>
            <div class="col m6 l4 s6">
                <h6 class="white-text" style="font-weight: bolder;">Kết nối với chúng tôi tại:</h6>
                <p>
                    <i class="fa fa-facebook-square"></i><a href="https://www.facebook.com/sportavn/" class="white-text"> sonsportvn</a><br>
                    <a class="white-text" href="mailto:hello@sporta.vn"><i class="fa fa-envelope-o"></i> hello@sonsport.vn</a>
                </p>
            </div>
            <div class="col m6 l4 s6">
                <h6 class="white-text text-darken-2" style="font-weight: bolder;">Về Sơn Sport</h6>
                <ul>
                    <li><a class="white-text" href="/pages/about-us">Giới thiệu Sporta</a></li>
                    <li><a class="white-text" href="/bai-viet/">Blog</a></li>
                    <li><a class="white-text" href="/pages/dieu-khoan-su-dung">Điều khoản sử dụng</a></li>
                    <li><a class="white-text" href="/pages/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col m6 l4 s12">
                <h6 class="white-text text-darken-2" style="font-weight: bolder;">Phương thức thanh toán</h6>
                <ul>
                    <li><img style="height: 25px;" src="~/Assets/Images/Icon-logo/icon-momo.png" alt="Momo" /> Momo</li>
                    <li><i class="fa fa-credit-card-alt" style="font-size: 20px;"></i> Tiền mặt </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
