
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <h3>Chính sách bảo mật</h3>
        <p>
            Sporta.vn tôn trọng những thông tin cá nhân của bạn. Chúng tôi hiểu rằng bạn cần biết chúng tôi quản lý những thông tin cá nhân tập hợp được từ Sporta.vn như thế nào. Hãy đọc và tìm hiểu về những quy định bảo mật thông tin sau đây.
            Việc bạn truy cập, đăng ký, sử dụng Sporta.vn có nghĩa rằng bạn đồng ý và chấp nhận ràng buộc bởi các điều khoản của bản quy định bảo mật của chúng tôi.
        </p>
        <h5>Tập hợp thông tin</h5>
        <p>Thông tin cá nhân: Sporta.vn chỉ yêu cầu các thông tin cá nhân của bạn như: tên, email, số điện thoại và một số thông tin không bắt buộc khác khi bạn muốn tương tác với một số nội dung trên website. Các thông tin cá nhân này sử dụng để Sporta.vn và chủ địa điểm cho thuê sân bãi nhận diện và liên hệ với bạn khi cần.</p>
        <h5>Cách thức sử dụng thông tin</h5>
        <p>
            Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu hỏi hay thực hiện các yêu cầu của bạn.
            Thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ bên thứ ba nào khi chưa có sự đồng ý của bạn. Nhưng chúng tôi có thể chia sẻ thông tin cho bên đối tác khi bạn đồng ý.
            Dữ liệu khách hàng của Sporta.vn có thể được chuyển nhượng cho người kế thừa hay người được chỉ định để quản lý công ty khi công ty bị sát nhập, bị mua lại hoặc phá sản.
        </p>
        <h5>Bảo đảm an toàn đối với các thông tin thu thập được</h5>
        <p>Chúng tôi chỉ tập hợp lại các thông tin cá nhân trong phạm vi phù hợp và cần thiết cho mục đích phục vụ đúng đắn của chúng tôi. Và chúng tôi duy trì các biện pháp thích hợp nhằm bảo đảm tính an toàn, nguyên vẹn, độ chính xác, và tính bảo mật những thông tin mà bạn đã cung cấp. Ngoài ra, chúng tôi cũng có những biện pháp thích hợp để đảm bảo rằng bên thứ ba cũng sử dụng các biện pháp bảo đảm an toàn cho các thông tin mà chúng tôi cung cấp cho họ nếu có.</p>
        <h5>Cookies</h5>
        <p>
            Cookies là những file nhỏ được download để  ghi chép các hoạt động trong một Website.
            Chúng tôi sử dụng cookies để ghi chép các hoạt động của nguời sử dụng hay mục đích của người sử dụng không muốn xem cùng nội dung quảng cáo được lặp đi lặp lại nhiều lần. Ngoài ra, chúng tôi cũng sử dụng cookies để đáp ứng các yêu cầu của người sử dụng và các mục đích khác.
        </p>
        <h5>Liên kết các Website khác</h5>
        <p>Nếu bạn nhấn đường liên kết sang Website thứ ba, bao gồm cả trang quảng cáo, bạn sẽ rời trang Sporta.vn và sẽ đến trang Web bạn đã chọn. Chúng tôi không thể kiểm soát các hoạt động của bên thứ ba và không chịu trách nhiệm về sự an toàn hay bất kể những nội dung gì có trong Website đó.</p>
        <h5>Sửa đổi và xoá thông tin tài khoản</h5>
        <p>Bạn có thể sửa đổi, cập nhật thông tin tài khoản của bạn bất cứ lúc nào. Cho dù, bạn tự xoá các thông tin đó đi nhưng chúng tôi có thể phục hồi những thông tin đó từ cơ sở dữ liệu của chúng tôi để giải quyết các tranh chấp, thi hành  bản thoả thuận người sử dụng, hay vì các yêu cầu kỹ thuật, pháp lý  liên quan đến sự an toàn và những hoạt động của trang website chúng tôi.</p>
        <h5>Điều khoản thay đổi</h5>
        <p>Chúng tôi có quyền thay đổi nội dung của các điều khoản này. Xin thường xuyên xác nhận để biết về các điều khoản thay đổi trong bản quy định bảo mật của chúng tôi. Thêm vào đó chúng tôi sẽ thông báo cho bạn bằng email khi có những thay đổi quan trọng về cách sử dụng liên quan các thông tin cá nhân của bạn. Trong trường hợp bạn từ chối các điều khoản thay đổi có trong Sporta.vn, xin liên hệ chúng tôi theo địa chỉ email sporta.hotro@gmail.vn. Khi bạn tiếp tục sử dụng trang web này, có nghĩa là bạn đồng ý và chấp nhận bị ràng buộc với các thay đổi trong bản quy định bảo mật trực tuyến này.</p>
    </div>

</main>
