
@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <div class="container">
            <h3>Điều khoản sử dụng</h3>
            <p>
                Website Sporta.vn là tài sản của Công ty Cổ phần Sporta. Với việc sử dụng các thông tin, dịch vụ, sản phẩm trên website Sporta.vn, đồng nghĩa với việc bạn đã chấp nhận hoàn toàn các quy định sử dụng website dưới đây.
                Mời bạn vui lòng đọc kỹ các quy định sử dụng website dưới đây trước khi quyết định sử dụng thông tin, dịch vụ, sản phẩm của chúng tôi.
            </p>
            <h5>Đăng ký sử dụng và đăng nhập tài khoản</h5>
            <p>
                Khi đăng ký sử dụng tài khoản trên Sporta, bạn cần cung cấp cho website các thông tin cá nhân chính xác, đầy đủ và mới nhất. Khi chọn mật khẩu cho tài khoản truy nhập, hãy chọn mật khẩu theo cách mà không ai có thể dễ dàng đoán được.
                Sau khi đăng ký, bạn chịu trách nhiệm bảo quản mật khẩu và không nên tiết lộ mật khẩu cho bất cứ ai hoặc ủy quyền, cho phép bất cứ người nào sử dụng vào bất cứ mục đích nào. Sporta sẽ luôn coi việc truy nhập và sử dụng các dịch vụ trên trang web bằng tên truy nhập và mật khẩu của một người nào đó như là việc truy nhập và sử dụng các dịch vụ bởi chính khách hàng đó, bất kể tên truy nhập và mật khẩu có thể được sử dụng bởi người khác mà chủ sở hữu không biết hoặc không cho phép.
                Nếu phát hiện ra bất cứ người nào biết mật khẩu hoặc sử dụng mật khẩu của mình để truy nhập và sử dụng các dịch vụ trên trang web, bạn cần thông báo ngay lập tức cho chúng tôi và thay đổi mật khẩu hoặc yêu cầu website hỗ trợ cài đặt mật khẩu mới.
            </p>
            <h5>Quyền thu thập và sử dụng thông tin</h5>
            <p>Khi bạn truy cập và sử dụng trang web, Sporta có thể thu thập và lưu trữ các thông tin như các số liệu thống kê quá trình truy cập, các thông tin cá nhân cung cấp cho Sporta khi đăng ký… Các thông tin cá nhân khách hàng cung cấp bao gồm họ tên, số điện thoại, địa chỉ email, địa chỉ chỗ ở… Chúng tôi có thể sử dụng các thông tin này vào việc lập kế hoạch, nghiên cứu, thiết kế và tuyên truyền các dịch vụ hoặc cung cấp thông tin cho các cơ quan pháp luật theo yêu cầu của Luật pháp hoặc của Toà án.</p>
            <h5>Quy định về nội dung thông tin trên website</h5>
            <p>
                Người sử dụng chịu trách nhiệm về bất cứ nội dung thông tin gửi lên hoặc truyền đi qua trang web của Sporta và không được phép hoặc cho phép người khác tạo ra bất cứ sự khó chịu, phiền toái, quấy rầy nào đối với Sporta cũng như đối với bất kỳ khách hàng hoặc người sử dụng khác.
                Bạn cam kết sử dụng trang web trong chừng mực phù hợp với tất cả các luật và quy định hiện hành và đồng ý không sử dụng trang web để gửi lên, truyền đi, phân tán, liên kết các nội dung mà:
                Chứa các thông tin quảng cáo
                Vi phạm các luật, các quy định của Chính Phủ Việt nam.
                Vi phạm các quy định về bản quyền, nhãn hiệu, sở hữu trí tuệ, quyền sở hữu cá nhận.
                Chứa các thông tin có tính khiêu dâm, kích động, phỉ báng.
                Phá hoại tính an toàn, tính đồng nhất, các giao diện của trang web.
                Bất cứ vi phạm nào đối với các quy định trên, Sporta sẽ huỷ bỏ quyền sử dụng website của người vi phạm. Đồng thời tuỳ theo mức độ vi phạm mà người sử dụng sẽ phải chịu trách nhiệm trước pháp luật.
                - Sporta.vn là website/app chia sẻ cộng đồng, Sporta giữ quyền thông tin trên website, tất cả các thông tin bao gồm: thông tin địa điểm, các bình luận, các hình ảnh... và thông tin khác liên quan đến địa điểm và thành viên đều thuộc quyền sở hữu của Sporta, và tất cả các thông tin này sẽ không "Bị xóa/Được xóa" vì bất cứ lý do nào! Các trường hợp có thể được xóa bỏ khỏi hệ thống bao gồm các nội dung không liên quan hay nội dung rác do ban quản trị quy định!
            </p>
            <h5>Tuyên bố từ chối</h5>
            <p>
                Sporta có các biện pháp bảo mật cho trang web và các dịch vụ cung cấp. Tuy nhiên, Sporta không thể đảm bảo tuyệt đối trang web khỏi các hành động phá hoại hoặc các loại virus từ Internet.
                Sporta không có bất cứ bảo đảm nào hoặc tuyên bố nào về tính chính xác hay hoàn thiện của bất kỳ thông tin nào trên website này. Định kỳ Sporta sẽ bổ sung, thay đổi, cải tiến hoặc cập nhật các tính năng và thông tin trên website này mà không cần báo trước. Trong bất kỳ trường hợp nào, Sporta sẽ không chịu trách nhiệm về bất cứ mất mát, thiệt hại, trách nhiệm mang lại do việc sử dụng thông tin từ website này, cũng như bất kỳ lỗi, thiếu sót, gián đoạn hoặc chậm trễ về các thông tin.
                Việc sử dụng thông tin tại web site này là hoàn toàn tùy thuộc vào rủi ro riêng của người sử dụng. Trong bất kỳ trường hợp nào, Sporta hoặc các đại diện của mình sẽ không chịu trách nhiệm đối với bất kỳ thiệt hại trực tiếp, gián tiếp, ngẫu nhiên, đặc biệt hoặc tất yếu nào.
                Trang web của Sporta bao gồm các đường liên kết đến các trang web khác không thuộc quyền sở hữu hoặc kiểm soát của Sporta hoặc chứa các thông tin do các bên thứ ba cung cấp. Do vậy, Sporta không chịu trách nhiệm về các lỗi hoặc thiếu sót trong thông tin trích dẫn và các nội dung, quyền riêng tư, tính bảo mật của các trang web liên kết đến cũng như các thiệt hại nếu có khi bạn truy nhập, sử dụng các trang web đó.
            </p>
            <h5>Các thay đổi trên website Sporta</h5>
            <p>Chúng tôi có toàn quyền bổ sung, sửa đổi hay xóa bỏ bất kỳ thông tin nào cũng như thay đổi giao diện, sự trình bày, thành phần hoặc chức năng, nội dung của trang web này bao gồm bất kỳ khoản mục nào vào bất kì lúc nào mà không cần báo trước.</p>
            <h5>Thay đổi quy định</h5>
            <p>Chúng tôi có toàn quyền thay đổi quy định mà không cần báo trước. Với việc tiếp tục sử dụng Sporta sau những sửa đổi đó, bạn mặc nhiên đồng ý chấp hành các sửa đổi trong quy định.</p>
            <h5>Quy định về các hành động không được phép</h5>
            <p>
                Bạn không được quyền xâm phạm, xâm nhập, tiếp cận, sử dụng hay tìm cách xâm phạm, xâm nhập, tiếp cận hoặc sử dụng bất kỳ phần nào trong máy chủ của chúng tôi, và/ hoặc bất kỳ khu vực dữ liệu nào nếu không được chúng tôi cho phép.
                -     Bạn không được quyền hoặc có các hành động nhằm hạn chế hoặc cấm đoán bất kỳ người dùng nào khác sử dụng các tiện ích trên trang Sporta.
                -     Bạn không được quyền gửi lên hoặc truyền phát bất kỳ thông tin bất hợp pháp, lừa gạt, bôi nhọ, sỉ nhục, tục tĩu, khiêu dâm, xúc phạm, đe dọa, lăng mạ, thù hận, kích động… hoặc trái với chuẩn mực đạo đức chung của xã hội dưới bất kì hình thức nào, bao gồm cả việc truyền bá hay khuyến khích những hành vi có thể cấu thành tội phạm hay vi phạm bất cứ điều khoản nào của luật pháp địa phương, quốc gia hay quốc tế. Chúng tôi tôn trọng quyền tự do ngôn luận, nhưng cũng bảo lưu việc có toàn quyền lược bớt, hoặc xoá bỏ một phần hoặc toàn bộ nội dung nào các bạn đưa lên, bất kể việc vi phạm đó là rõ ràng hay chỉ là hàm ý.
                -     Bạn không được phép gửi hoặc truyền bất kỳ thông điệp nào mang tính quảng cáo, mời gọi, thư dây chuyền, cơ hội đầu tư hay bất kỳ dạng liên lạc có mục đích thương mại nào mà người dùng không mong muốn, thư rác hay tin nhắn rác.
                -     Bạn không được gửi hoặc truyền bất kỳ thông tin nào không thuộc quyền sở hữu của bạn trừ khi đó là thông tin được cung cấp miễn phí, không gửi bất kỳ thông tin nào có chứa bất kỳ loại virus, Trojan, bọ hay các thành phần nguy hại nào.
                -     Bạn sẽ không gửi, xuất bản, truyền, tái sản xuất, phân phát hoặc khai thác bằng bất cứ hình thức nào với bất cứ thông tin nào có được từ Sporta vào mục đích thương mại; hoặc tải lên, gửi, xuất bản, truyền, tái sản xuất hoặc phân phối dưới bất cứ hình thức nào những nội dung được bảo vệ bởi luật bản quyền và luật sở hữu trí tuệ của Sporta hoặc tạo ra các biến thể của các nội dung đó mà không có sự đồng ý bằng văn bản của chủ nhân hoặc người giữ bản quyền.
                -     Bạn không được sử dụng thông tin trong trang web này với bất cứ hình thức nào hoặc bất cứ mục đích nào, trừ những điều khoản được xác lập trong bản Quy định sử dụng này.
            </p>
            <h5>Cấp truy cập</h5>
            <p>Chúng tôi có toàn quyền, vào mọi lúc, cấm hoặc từ chối truy cập của bạn vào Sporta hoặc bất kỳ phần nào của website ngay lập tức và không cần báo trước nếu chúng tôi cho rằng bạn đã vi phạm bất cứ điều khoản nào trong bản Quy định này, hoặc việc cấm truy cập xuất phát từ nhận định của chúng tôi, khi chúng tôi cho rằng từ chối đó phù hợp và cần thiết trong thẩm quyền của chúng tôi.</p>
            <h5>Thông tin của bên thứ ba</h5>
            <p>Thông tin được cung cấp tại Sporta có thể chứa thông tin từ bên thứ ba hoặc được chọn lọc từ các nguồn khác. Chúng tôi không chấp nhận bất cứ trách nhiệm nào về các thông tin mà chúng tôi đăng tải, bạn sẽ sử dụng hoặc đặt niềm tin vào những thông tin đó với hiểu biết, trách nhiệm và nguy cơ của riêng bạn.</p>
            <h5>Bồi thường</h5>
            <p>Bạn đồng ý bồi hoàn những nghĩa vụ pháp lý, tố tụng, tổn thất, chi phí (bao gồm cả án phí không giới hạn) có liên quan tới hoặc phát sinh từ sự vi phạm của bạn đối với bất kỳ điều khoản nào trong Quy định sử dụng của Sporta. Chúng tôi có thể, trong trường hợp xét thấy cần thiết, hoặc theo quy định của pháp luật tham gia tố tụng trước các khiếu kiện hoặc đàm phán để dàn xếp.</p>
            <h5>Quyền sở hữu trí tuệ và các quyền khác</h5>
            <p>
                Tất cả quyền sở hữu trí tuệ tồn tại trong website Sporta đều thuộc về Sporta CORP. Theo đó, tất cả các quyền hợp pháp đều được đảm bảo. Trừ phi được sự đồng ý của Sporta, bạn không được phép tải lên, gửi, xuất bản, tái sản xuất, truyền hoặc phân phát bằng bất cứ hình thức nào bất cứ thành phần nào của website Sporta hoặc tạo ra những bản sửa đổi của nội dung cung cấp trong website Sporta.
                Tại các khu vực được phép đăng tải bài viết, bạn có thể chia sẻ thông tin được phép dưới các định dạng chúng tôi mặc định và bạn phải tự chịu trách nhiệm đối với các nội dung, thông tin, hình ảnh và bất kỳ sự chia sẻ nào khác của bạn với cá nhân người sử dụng hoặc nhóm người sử dụng.
                Tuy nhiên, trong mọi trường hợp, chúng tôi vẫn được bảo lưu quyền xử lý các thông tin đăng tải cho phù hợp với thuần phong mỹ tục, các quy tắc đạo đức và các quy tắc đảm bảo an ninh quốc gia, và chúng tôi có toàn quyền cho phép hoặc không cho phép bài viết của bạn xuất hiện hay tồn tại trên diễn đàn hoặc tại các khu vực được phép chia sẻ thông tin.
                Chúng tôi có toàn quyền, bao gồm quyền tác giả, thương hiệu, bí mật kinh doanh và các quyền sở hữu khác, nội dung của website, và hàng hóa hoặc dịch vụ được cung cấp mà chúng tôi có trong website Sporta. Việc sử dụng quyền và sở hữu của chúng tôi cần phải được chúng tôi cho phép trước bằng văn bản. Ngoài việc cấp phép bằng văn bản, chúng tôi không cấp phép dưới bất kỳ hình thức nào khác cho dù đó là hình thức công bố hay hàm ý, hoặc thông qua việc để bạn sử dụng dịch vụ. Và do vậy, bạn không có quyền sử dụng website hoặc dịch vụ của chúng tôi vào mục đích thương mại mà không có sự cho phép bằng văn bản của chúng tôi trước đó.
                Bạn đồng ý để chúng tôi tự do sử dụng, tiết lộ, áp dụng và sửa đổi bất kỳ ý tưởng, khái niệm, cách thức, đề xuất, gợi ý, bình luận hoặc hình thức thông báo nào khác mà bạn cung cấp cho chúng tôi có liên quan tới Sporta một cách hoàn toàn miễn phí.
            </p>
            <h5>Cung cấp nội dung trên Sporta</h5>
            <p>Bạn đồng ý trao cho chúng tôi toàn bộ quyền và cấp phép (bao gồm cả các quyền về tinh thần hay các quyền cần thiết khác) để sử dụng, trưng bày, tái sản xuất, chỉnh sửa, xuất bản, cung cấp, xúc tiến, dịch và tạo ra các phiên bản tổ hợp khác, một phần hoặc toàn bộ, trên phạm vi toàn cầu mà không đòi hỏi thù lao. Sự cấp phép này được áp dụng với bất cứ dạng thức, phương tiện, công nghệ nào đã được biết đến hoặc phát triển sau này; bạn cần lưu ý rằng, các bài viết (post) trên diễn đàn, hoặc tại các khu vực được phép có thể tiếp tục nằm trên website của chúng tôi ngay cả khi tài khoản của bạn đã bị xóa vì bất kỳ lý do gì.</p>
            <h5>Giới hạn trách nhiệm pháp lý và bảo đảm</h5>
            <p>
                Tất cả thông tin chỉ dành cho việc tham khảo tổng quát của bạn. Sporta không nhận bất cứ trách nhiệm nào về những thông tin đó.
                Việc truy cập và sử dụng website Sporta do bạn hoàn toàn tự chịu trách nhiệm và được cung cấp như hiện có. Sporta chỉ dành cho mục đích sử dụng cá nhân và chúng tôi không đại diện cho hoặc bảo đảm về bất cứ điều gì, được phát ngôn cụ thể hay hàm ý cho bất cứ mục đích cụ thể nào.
                Bạn hành xử và tin tưởng hoàn toàn vào kỹ năng và khả năng đánh giá của chính bạn đối với việc sử dụng và cách hiểu đối với thông tin bạn có được tại Sporta. Bạn chịu trách nhiệm đảm bảo rằng việc sử dụng thông tin của bạn tuân thủ tất cả các yêu cầu của pháp luật hiện hành.
                Giới hạn nghĩa vụ pháp lý trong Quy định sẽ được áp dụng với quy mô đầy đủ nhất được pháp luật hiện hành cho phép.
            </p>
            <h5>Luật áp dụng</h5>
            <p>Bạn đồng ý rằng bản Quy định sử dụng và bất kỳ bất đồng nào phát sinh từ việc bạn sử dụng website này hoặc các sản phẩm và dịch vụ của chúng tôi sẽ được giải quyết theo luật pháp hiện hành của Nước Cộng hoà Xã hội Chủ nghĩa Việt Nam. Thông qua việc đăng ký hoặc sử dụng website và dịch vụ của chúng tôi, bạn mặc nhiên đồng ý và tuân thủ toàn bộ các quy định của Luật pháp Việt Nam</p>
        </div>

    </main>