<div class="modal-content">
    <h5>Báo lỗi địa điểm</h5>
    <form class="new_venue_report" id="new_venue_report" action="/venue_reports" accept-charset="UTF-8" data-remote="true" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <textarea class="materialize-textarea" name="venue_report[reason]" id="venue_report_reason"></textarea>
        <input type="hidden" value="84" name="venue_report[venue_id]" id="venue_report_venue_id" />
        <input type="submit" name="commit" value="Gửi thông tin" class="btn" data-disable-with="Gửi thông tin" />
    </form>
</div>
