<div class="modal-content">
    <h5 class="text-center orange-text text-darken-1">ĐẶT SÂN THÀNH CÔNG!</h5>
    <p class="text-center">Kiểm tra lịch đặt của bạn bằng cách <a href="#">Click vào đây</a> !</p>
</div>
