@using sonsport.com.Common
@using Model.Context
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Place = (DIADIEMSANBONG)ViewData[GlobalConstans.Place];
    var DateView = (DateTime)ViewData[GlobalConstans.DateView];
    var lstYardOfPlace = (List<SANBONG>)ViewData[GlobalConstans.LstYardOfPlace];
    var LstOrderDetailsOfYard = (List<CHITIETDATSAN>)ViewData[GlobalConstans.LstOrderDetailsOfYard];
    var lstPriceOfYard = (List<BANGGIALOAISAN>)ViewData[GlobalConstans.LstPriceOfYard];

    //View data group
    var viewDataGroup = new ViewDataDictionary();
    viewDataGroup.Add(GlobalConstans.LstYardOfPlace, ViewData[GlobalConstans.LstYardOfPlace]);
    viewDataGroup.Add(GlobalConstans.DateView, ViewData[GlobalConstans.DateView]);
    viewDataGroup.Add(GlobalConstans.Place, ViewData[GlobalConstans.Place]);
}
<main>
    @Html.Partial("_InfoPlace", Place)


    <div class="section">
        <div class="container-90">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="content-header">
                        <span class="content-title">
                            Chọn ngày đặt
                        </span>
                    </div>
                    @Html.Partial("_ListOrderByDay", LstOrderDetailsOfYard, viewDataGroup)

                </div>

                @Html.Partial("_ListPriceOfYard", lstPriceOfYard, viewDataGroup)



                <div class="col s12 ratings">
                    <ul class="tabs">
                        <li class="tab normal_case"><a href="#">Đánh giá</a></li>
                    </ul>
                    <p>Sân này chưa có đánh giá nào</p>
                </div>


                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab normal_case"><a href="#venue_gallery">Hình ảnh</a></li>
                    </ul>
                </div>

                <div id="venue_gallery" class="col s12">
                    <p>Là sân 7 người, chuyên dùng để đào tạo và huấn luyện. Để đặt sân thường phải làm hợp đồng.</p>
                    <div class="my-gallery">
                    </div>
                </div>
                <div class="fb-comments" data-href="#" data-width="100%" data-numposts="5">
                </div>
            </div>
            <div class="row center">
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>

    </script>
}