@using Model.Context;
@{
    ViewBag.Title = "Trang chủ";
    var lstDiaDiem = ViewData["lstDiaDiem"] as List<DIADIEMSANBONG>;
}

<main>
    <div id="find_available_asset">
        <div class="row find_available_asset_form_is_center">
            <div class="col s12 m6 l4 orange" style="opacity: 0.95">
                <h5 class="white-text text-center">ĐẶT SÂN ONLINE</h5>
                <div class="divider" style="margin-bottom: 15px;"></div>
                <form action="/dat-san-online" accept-charset="UTF-8" method="get">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <div class="row">
                        <div class="input-field col s12 l6 browser-default">
                            <select name="city" id="city" required="required" class="browser-default">
                                <option value="47">Tỉnh Bình Dương</option>
                                <option value="48">Tỉnh Đồng Nai</option>
                                <option value="51">Tỉnh Long An</option>
                                <option value="27">Tỉnh Nghệ An</option>
                                <option value="25">Tỉnh Ninh Bình</option>
                                <option value="33">Tỉnh Quảng Nam</option>
                                <option value="34">Tỉnh Quảng Ngãi</option>
                                <option value="46">Tỉnh Tây Ninh</option>
                                <option value="12">Tỉnh Thái Nguyên</option>
                                <option value="26">Tỉnh Thanh Hóa</option>
                                <option value="32">Tp Đà Nẵng</option>
                                <option value="1">Tp Hà Nội</option>
                                <option selected="selected" value="50">Tp Hồ Chí Minh</option>
                            </select>
                            <label class="white-text">Khu vực</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <select name="district_id" id="district_id" required="required" class="browser-default">
                                <option value="573">Huyện Bình Chánh</option>
                                <option value="575">Huyện Cần Giờ</option>
                                <option value="571">Huyện Củ Chi</option>
                                <option value="572">Huyện Hóc Môn</option>
                                <option value="574">Huyện Nhà Bè</option>
                                <option value="552">Quận 1</option>
                                <option value="563">Quận 10</option>
                                <option value="564">Quận 11</option>
                                <option value="553">Quận 12</option>
                                <option value="561">Quận 2</option>
                                <option value="562">Quận 3</option>
                                <option value="565">Quận 4</option>
                                <option value="566">Quận 5</option>
                                <option value="567">Quận 6</option>
                                <option value="570">Quận 7</option>
                                <option value="568">Quận 8</option>
                                <option value="555">Quận 9</option>
                                <option value="569">Quận Bình Tân</option>
                                <option value="557">Quận Bình Thạnh</option>
                                <option value="556">Quận Gò Vấp</option>
                                <option value="560">Quận Phú Nhuận</option>
                                <option value="558">Quận Tân Bình</option>
                                <option value="559">Quận Tân Phú</option>
                                <option selected="selected" value="554">Quận Thủ Đức</option>
                            </select>
                        </div>
                        <div class="input-field col s12 l6">
                            <select name="asset_category_name" class="browser-default" required>
                                <option value="5" selected>Sân 5 người</option>
                                <option value="7">Sân 7 người</option>
                                <option value="11">Sân 11 người</option>
                            </select>
                            <label class="white-text">Loại sân</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <input type="text" name="date" id="booking_date" value="Chủ nhật, 28-04-2019" placeholder="Chọn ngày" required="required">
                            <label class="white-text" for="booking_date" style="top: -3px;">Ngày</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <select name="begin_time" id="begin_time" required="required" class="browser-default">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option selected="selected" value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                            <label class="white-text">Đặt từ</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <select name="how_long" class="browser-default" required>
                                <option value="1" selected>1 giờ</option>
                                <option value="1.5">1.5 giờ</option>
                                <option value="2">2 giờ</option>
                            </select>
                            <label class="white-text">Đặt bao lâu</label>
                        </div>
                        <div class="col s12 m12 l12 center">
                            <button class="btn btn-raised">TÌM SÂN TRỐNG</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col m6 l7 hide-on-small-only">
                <h1 class="big_title">
                    ĐẶT SÂN BÓNG ONLINE <br />
                    NHANH CHÓNG VÀ DỄ DÀNG
                </h1>
            </div>
        </div>
        <img class="brightness" src="~/Assets/Images/image/banner-1.jpg" alt="Sporta đặt sân bóng đá mini online" />

    </div>
    <div class="container" id="intro">
        <div class="white z-depth-3">
            <div class="row" style="margin-bottom: 0px">
                <div class="col s12 m3">
                    <p class='text-center'>
                        <a href="#top_venues">
                            <img src="~/Assets/Images/image/icon-1.svg" />
                        </a>
                    </p>
                    <h5 class="text-center orange-text">Thông tin sân bóng</h5>
                    <p class="text-center" style="color: #78909c">Địa điểm, giá sân, giờ mở cửa,... các sân bóng trong khu vực gần nơi bạn ở</p>
                </div>
                <div class="col s12 m3">
                    <p class='text-center'><a href="/"><img src="~/Assets/Images/image/icon-2.svg" alt="Book" /></a></p>
                    <h5 class="text-center orange-text">Đặt sân online</h5>
                    <p class="text-center" style="color: #78909c">Lựa chọn sân gần vị trí của bạn nhất, đặt sân online, tiện lợi, dễ dàng</p>
                </div>
                <div class="col s12 m3">
                    <p class='text-center'><a href="/quan-ly-san-bong"><img src="~/Assets/Images/image/icon-3.svg" alt="Reg" /></a></p>
                    <h5 class="text-center orange-text">Quản lý sân online</h5>
                    <p class="text-center" style="color: #78909c">Quản lý lịch đặt đơn giản, tiếp nhận đặt sân online dễ dàng, lấp đầy sân trống</p>
                </div>
                <div class="col s12 m3">
                    <p class='text-center'><a href="/chia-se-thong-tin-san-bong"><img src="~/Assets/Images/image/icon-4.svg" alt="Pr" /></a></p>
                    <h5 class="text-center orange-text">Quảng bá sân bóng</h5>
                    <p class="text-center" style="color: #78909c">Đăng thông tin sân bóng của bạn lên website, quảng bá hình ảnh sân bóng tốt hơn.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="top_venues">
        <div class="row">
            <div class="col s12">
                <h3 class="text-center orange-text top_venues_title">ĐỊA ĐIỂM HÀNG ĐẦU</h3>
                <h6 class="text-center" style="color: #78909c">Nhanh tay đặt sân ngay hôm nay để được trải nghiệm sân bóng chất lượng cao cùng ưu đãi hấp dẫn!</h6>
            </div>
            @foreach (var item in lstDiaDiem)
            {
                <div class="col s12 m4 l3">
                    <div class="card-panel venue_item hoverable" style="height: 350px !important;">
                        <div class="venue_pic" style="height: 63%;">
                            <div style="height: 100%">
                                <div class="venue_pic_cover" style="height: 93%">
                                    <a href="/dhnonglam">
                                        <img class="responsive-img top_venues_pic" src="~/Assets/Images/Image/image-1.jpg" />
                                    </a>
                                </div>
                                <div class="venue_pic_district">
                                    <div class="district_div text-center">
                                        <a class="white-text district_title" href="/san-bong/tp-ho-chi-minh/quan-thu-duc">Quận @item.Quan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="venue-details">
                            <h5><a class="venue_title" href="/KhachHang/Home/XemSan?madiadiem=@item.MaDiaDiem&strDate=@DateTime.Now.ToString("dd-MM-yyyy")">@item.TenDiaDiem</a></h5>
                            <p class="address_text">
                                <i class="fa fa-map-marker"></i>
                                @item.DiaChi
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="center row">
            <a id="load-more-venues" class="btn btn-raised" href="/san/tim">XEM TẤT CẢ SÂN BÓNG</a>
        </div>
    </div>
    <div class="row" style="position: relative; padding: 25px 0px;">

        <img class="brightness" src="~/Assets/Images/image/banner-2.jpg" style="width: 100%; height: 400px;" />
        <div style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); width: 80% !important;" class="center">
            <h2 class="coop_title">HỢP TÁC VỚI SƠN SPORT?</h2>
            <h6 class="coop_info">Bạn là chủ sân? Bạn lo lắng khi sân còn trống? Sporta hỗ trợ bạn lấp đầy lịch đặt sân với chi phí thấp nhất!</h6>
            <a class="waves-effect waves-light btn orange btn-raised" href="/KhachHang/Home/DanhChoChuSan">TÌM HIỂU NGAY</a>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <h4 class="text-center orange-text">ĐỐI TÁC CỦA CHÚNG TÔI</h4>
        <div class="col s12 m4 center">
            <img style="height: 80px;" src="~/Assets/Images/image/icon-aws.png" alt="Aws logo smile" />
        </div>
        <div class="col s12 m4">
            <p class="text-center"><a target="_blank" href="http://foba.vn?ref=sporta.vn"><img style="height: 80px;" src="~/Assets/Images/image/icon-foba.jpg" alt="Partner foba" /></a></p>
            <p class="text-center">FOBA là thương hiệu của Thanh Thịnh, là công ty số #1 về ngành cỏ nhân tạo sân bóng, cỏ nhân tạo sân vườn và phụ kiện. Được thành lập từ 2008, chúng tôi đã cung cấp và lắp đặt gần 1000 sân bóng ở 45 tỉnh/TP tại Việt Nam và Cambodia.</p>
        </div>
        <div class="col s12 m4 center">
            <img style="height: 80px;" src="~/Assets/Images/image/icon-linnode.svg" alt="Linode logo" />
        </div>
    </div>

</main>