@using Model.Context
@using quanly.sonsport.com.Common
@model List<NHANVIEN>
@{ 
    var Place = ViewData[GlobalConstans.ViewDataPlace] as DIADIEMSANBONG;
}


<style>
    #tblBodyPrice input {
        border: none;
        width: 50px;
    }

        #tblBodyPrice input span {
            color: black;
        }
</style>
<!-- DataTales Example -->
<div class="card shadow mb-4 ">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
        <h6 class="m-0 font-weight-bold text-primary">Nhân viên của <b>@Place.TenDiaDiem</b> </h6>
        <button disabled class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="btnAddEmployeeToPlace">
            <span class="icon text-white-50">
                <i class="fas fa-plus-square"></i>
            </span>
            <span class="text text-white">Thêm nhân viên làm việc cho sân này (Updating...)</span>
        </button>
    </div>
    @if (Model.Count == 0)
    {
        <h4 class="text-warning text-center">Chưa có nhân viên cho địa điểm này!</h4>
    }
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Email</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa điểm làm việc</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Email</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa điểm làm việc</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody id="tblBodyPrice"></tbody>
            </table>
        </div>
    </div>

</div>


<script src="~/Assets/TemplateMaster/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/TemplateMaster/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Assets/TemplateMaster/js/demo/datatables-demo.js"></script>
<script src="~/Assets/SonSiHoJS/ssh.js"></script>
<script>
    $(function () {
        LoadRowEmployeeByPlace();
    })
    function LoadRowEmployeeByPlace() {
        var PlaceId = @Place.MaDiaDiem;
        $.get('@Url.Action("LoadRowEmployeeByPlace","Employee")?PlaceId=' + PlaceId, (response) => {
            $('#tblBodyPrice').empty().html(response);
        });
    }
</script>